<!-- /templates/index.liquid -->

<header>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,600,700');
  .site-nav li a, .supports-fontface .icon-fallback-text .icon, .site-nav__link--burger{color: #fff !important;}
  .burger-icon{background: #fff !important;}
  </style>
</header>
<div class="index-sections">
  {{ content_for_index }}
</div>
