<!-- /templates/index.liquid -->

<header>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,600,700');
  </style>
</header>
<div class="index-sections">
  {% section 'sections-home' %}
  {{ content_for_index }}

</div>
