<div class="builder">
  <div class="builder__nav">

    <div class="wrapper">

      <ul class="builder__nav-steps">

        <li class="builder__nav-step current" data-step="1">
          <span class="step-number">1</span> <span>Coffee Brew</span>
        </li>

        <li class="builder__nav-step" data-step="2">
          <span class="step-number">2</span> <span>Quantity</span>
        </li>

        <li class="builder__nav-step" data-step="3">
          <span class="step-number">3</span> <span>Shipping Frequency</span>
        </li>

      </ul>

    </div>

  </div>


  <div class="builder__steps">


    <div class="builder__step">

      <div class="builder__step-header">
        <h2 class="builder__title">A Special Offer Just For You</h2>
        <div class="builder__subtitle">
          <p>
            <strong>FREE PRIORITY SHIPPING</strong>
          </p>
        </div>
      </div>

      <div class="builder__step-content">

        <div class="builder__product-offering builder-product-offering">
          <div class="builder-product-offering__preview">
            <img
              class="builder-product-offering__preview-image"
              src="https://storyville.com/anywhere/images/productImage_wholeBean.png"
            />
          </div>

          <div class="builder-product-offering__info">


            <div class="builder-product-offering__header">

              <h2 class="builder-product-offering__title">Get Started
                <span class="builder-product-offering__price">
                  <span class="builder-product-offering__price-compare-at">$0</span>
                  <span class="builder-product-offering__price-current">$0</span>
                </span>
              </h2>

              <h3 class="builder-product-offering__subtitle">Save $6 or more w/ additional bags</h3>

            </div>
            

            <div class="builder-product-offering__content">

              <p class="builder-product-offering__features-title">
                Wake up happy every day
              </p>
              <ul class="builder-product-offering__features">
                <li class="builder-product-offering__feature">Sourced from the top 2% of the world's beans</li>
                <li class="builder-product-offering__feature">8oz resealable pressurized bag</li>
                <li class="builder-product-offering__feature">Our one and only signature blend</li>
                <li class="builder-product-offering__feature">Roasted and shipped to you same day</li>
              </ul>

            </div>

            <div class="builder-product-offering__options">

              <div class="builder-product-offering__option selected">
                <img class="builder-product-offering__option-image" src="https://storyville.com/anywhere/images/wholeBeans.png" />
                <span class="builder-product-offering__option-text">Whole Bean</span>
              </div>

              <div class="builder-product-offering__option">
                <img class="builder-product-offering__option-image" src="https://storyville.com/anywhere/images/wholeBeans.png" />
                <span class="builder-product-offering__option-text">PODS</span>
              </div>

              <div class="builder-product-offering__option">
                <img class="builder-product-offering__option-image" src="https://storyville.com/anywhere/images/wholeBeans.png" />
                <span class="builder-product-offering__option-text">CAPSULES</span>
              </div>

            </div>

          </div>


        </div>

      </div>

      <div class="builder__step-footer">

        <div class="builder__step-actions">
          <div class="builder__step-action" data-next-step>
            Next Step
          </div>
        </div>

        <p class="builder__note">
          <img class="icon" src="{{ 'icon--banner.svg' | asset_url }}" /> <span>If you don't love your coffee, it's on us.</span>
        </p>

      </div>

    </div>


    <div class="builder__step">

      <div class="builder__step-header">
        <h2 class="builder__title">How much coffee?</h2>

        <div class="builder__subtitle">
          <p>
            <em><small>ALL SUBSCRIPTIONS INCLUDE FREE PRIORITY SHIPPING</small></em><br/>
          </p>
          <p>
            <span>Adjust, pause, or cancel anytime.</span>
          </p>
        </div>

      </div>


      <div class="builder__step-content">

        <div class="builder__options">


          <div class="builder__option builder-option">

            <p class="builder-option__note">PRICE / Bag</p>

            <div class="builder-option__content">

              <h3 class="builder-option__title">Product Type</h3>


              <p class="builder-option__price">
                <span class="builder-option__price-compare-at">$00</span>
                <span class="builder-option__price-current">$00</span>
              </p>


              <div class="builder-option__product-image-container">
                <p class="builder-option__feature">Save 0%</p>
                <img
                  class="builder-option__product-image"
                  src="https://via.placeholder.com/850x550"
                />
              </div>

              <h2 class="builder-option__title">2x Storyville Product</h2>

            </div>

          </div>


          <div class="builder__option builder-option selected">

            <p class="builder-option__note">PRICE / Bag</p>

            <div class="builder-option__content">

              <h3 class="builder-option__title">Product Type</h3>


              <p class="builder-option__price">
                <span class="builder-option__price-compare-at">$00</span>
                <span class="builder-option__price-current">$00</span>
              </p>


              <div class="builder-option__product-image-container">
                <p class="builder-option__feature">Save 0%</p>
                <img
                  class="builder-option__product-image"
                  src="https://via.placeholder.com/850x550"
                />
              </div>

              <h2 class="builder-option__title">2x Storyville Product</h2>

            </div>

          </div>


          <div class="builder__option builder-option">

            <p class="builder-option__note">PRICE / Bag</p>

            <div class="builder-option__content">

              <h3 class="builder-option__title">Product Type</h3>


              <p class="builder-option__price">
                <span class="builder-option__price-compare-at">$00</span>
                <span class="builder-option__price-current">$00</span>
              </p>


              <div class="builder-option__product-image-container">
                <p class="builder-option__feature">Save 0%</p>
                <img
                  class="builder-option__product-image"
                  src="https://via.placeholder.com/850x550"
                />
              </div>

              <h2 class="builder-option__title">2x Storyville Product</h2>

            </div>

          </div>


        </div>

      </div>

      <div class="builder__step-footer">

        <div class="builder__step-actions">
          <div class="builder__step-action" data-next-step>
            Next Step
          </div>
        </div>

        <p class="builder__note">
          <input type="checkbox" /> <label>I want Epilogue <strong>(Decaf)</strong></label>
        </p>

      </div>

    </div>


    <div class="builder__step">

      <div class="builder__step-header">
        <h2 class="builder__title">How often?</h2>
        <div class="builder__subtitle">
          <p>
            Now it's time to tell the truth, how happy do you want to be?<br />
            It's easy to change your shipping frequency at anytime.
          </p>
        </div>
      </div>

      <div class="builder__step-content">

        <div class="builder__options">

          {% assign frequencies = 'fanatic,enthusiast,admirer' | split: ',' %}

          {% for frequency in frequencies %}
            <div class="builder__option builder-option {% if forloop.index == 2 %}selected{% endif %}">

              <div class="builder-option__content">

                <div class="builder-option__product-image-container">
                  <img
                    class="builder-option__product-image"
                    src="{{ 'calendar-frequency--weeks-' | append: forloop.index | append: '.png' | asset_url }}"
                  />
                </div>

                <h2 class="builder-option__title builder-option__title--large">{{ frequency }}</h2>
                <p class="builder-option__subtitle">
                  Ships free every
                  {% if forloop.first %}
                    week
                  {% else %}
                    {{ forloop.index }} weeks
                  {% endif %}
                </p>

              </div>

            </div>
          {% endfor %}

        </div>

      </div>


      <div class="builder__step-footer">

        <div class="builder__step-actions">
          <div class="builder__step-action" data-next-step>
            Review Order
          </div>
        </div>

      </div>


    </div>


  </div>


  <div class="builder__disclaimer">
    Nespresso&#xAE; is a registered trademark of Societe des Produits Nestle S.A.
    Keurig&#xAE; is a registered trademark of Keurig Green Mountain, Inc. Storyville
    Coffee products are not endorsed, sponsored, licensed, or approved by Nespresso
    USA Inc., Societe des Produits Nestle S.A., Keurig Green Mountain, Inc., or any
    of their respective affiliates.
  </div>

</div>
