<style>
  body, html{
  	height: 100%;
    padding: 0;
  }
  
  .main-content, .wrapper, #PageContainer{
  	padding: 0;
    max-width: 100%;
    height: 100%;
  }
  
  #shopify-section-header, #shopify-section-footer{
  display:none !important;
  }
  
  .career_contain{
  	width: 100%;
    height: 100%;
    background: #331f14;
    display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;
    position: relative;
  }
  
  
  h1{
    font-size: 90px;
    font-family:"Avenir Next",sans-serif;
    color: #BA8748 !important;
    height: auto;
    text-align: center;
    align-self: center;
    margin: 0 auto;
 	display: block;
    font-weight: 700;
    line-height: 110%;
  }

  h2{
    font-size: 70px;
    font-family:"Avenir Next",sans-serif;
    color: #BA8748 !important;
    height: auto;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    display: block;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 30px;
  }
  

  h3{
    font-size: 35px;
    font-family:"Avenir Next",sans-serif;
    color: #BA8748 !important;
    height: auto;
    text-transform: none;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    display: block;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;
    letter-spacing:0.01em;
  }
  
  .career_btn{
	font-size: 30px;
    color: #f7eed4;
    background: #b7121B;
    padding: 15px 45px;
    font-weight: 600;
    display: block;
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
    margin-top: 14px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0);
    transition: 0.5s;
  }
  
  .career_btn:hover{
  	box-shadow: 10px 15px 40px rgba(0,0,0,1);
  }
  
  
  .career-steps{
  	display:none !important;
  }
  
  .career-steps.active-step{
  	display:block !important;
  }
  
  .honeypot-field{display: none;}
  
  
  fieldset {
    border: 0;
    padding: 5px;
    width: 48%;
    display:inline-block;
  }
  
  input{
    font-style: normal;
    width: 100%;
    border-radius: 30px;
    padding: 10px 30px;
  }
  
  .gform.active-form{
  	display:block !important;
  }
  
  .career-steps{
  	width: 60%;
    margin: 0 auto;
  }
  
  p {
      color: #f7eed4;
    text-align: center;
    font-size: 30px;
    font-family: "Avenir Next",sans-serif;
    margin: 0;
  }
  
  .career_nav{
	width: 100%;
    position: absolute;
    text-align: center;
    height: 185px;
    left: 0;
    top: 0;
    padding: 40px;
  }
  
  .career_nav img{
  	height: 100%;
  }
  
  p#startText{
  font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: #BA8748;
  }
  
  .background_check{
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: #f7eed4;
    font-style: normal;
  }
  
  .background_field{
  	width: 100%;
  }
  
  #background{
  	position: relative;
    top: -4px;
  }

  
  
  
  /***** referral ******/
  
  #referral{
    display: none;
    width: 97%;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  #referral.referral-visible{
  	display:inline-block;
  }
  
  .referredBy{
    display: inline-block;
    text-decoration: underline;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 2%;
    float: right;
  }
  
  .referredBy:hover{
    color: #fff;
    opacity:0.5;
  }
  
  .referred-contain{
  	width: 100%;
  }





  input{
    font-style: normal !important;
    width: 100% !important;
    border-radius: 30px !important;
    padding: 10px 30px !important;
  }
  
  .step_six button{
      width: auto !important;
    padding: 20px 70px !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
  }

  label {
  font-weight: normal !important;
  }

  
  @media screen and (max-width: 768px) {
  
    .career-steps{
    	width: 95%;
    }
    
   	h2, h3{
    	font-size: 25px;
      margin-bottom:0;
    }
    #emailForm h2{
    margin-bottom: 10px;
    }
    h1{
    	font-size: 35px;
    }
    .background_check{
    	font-size: 15px;
    }
    .career_btn{
      width: 95%;
      bottom: 20px;
    }
    
    .career_nav{
    text-align: center;
    }
    .form-elements{
    display: inline-table;
    }
    .referredBy{
    float: none;
    text-align: center;
    }
    
    .career_nav{
    padding-top: 10px;
    padding-bottom: 70px;
    }
  }
</style>


<div class="career_contain" data-steps>
  <div class="career_nav">
  	<img src="https://cdn.shopify.com/s/files/1/0090/2135/8137/files/gold_flyboy.png?41205">
  </div>
  
  
  <div class="career-steps step_one active-step">
    <!--<p id="startText">Most people think a job in the coffee world is a place holder till they get a real career.</p>-->
    <h3>Most people think a job in the coffee world is a placeholder till they get a real career.</h3>
    <br>
    <h3>In their hearts, they quit before they start.</h3>
    <button class="career_btn" id="step_one">I’m curious.</button>
  </div>
  
  
  <div class="career-steps step_two">
    <h2>Give us about an hour.<br>
		Drink our coffee.<br>
		Hear our story.<br>
		Decide for yourself.</h2>

  <button class="career_btn" id="step_two">Tell me more...</button>
  </div>

  <div class="career-steps step_three">

  	<h1>What if it’s the right place and the right time?</h1>
    
  	<button class="career_btn" id="step_three">Take me there</button>
    
  </div>
    
  
  
  
  <div class="career-steps step_four">

    <h2>Get in on</h2>
     <h1>The Ground Floor</h1>
    
  	<button class="career_btn" id="step_four">I'm in.</button>
    
  </div>
  
  
  <div class="career-steps step_five">
  <h1>If you’re serious...<br>
    We’re serious. </h1><br>
    <h3>- Storyville</h3>

        
  	<button class="career_btn" id="step_five">I'm serious.</button>
  
  </div>
  
  
 
  <div class="career-steps step_six">
    <div class="klaviyo-form-Nf99bb"></div>
  </div>
  
  
  
 <div class="career-steps step_seven">
    <h1>Please hold, and we'll get back to you soon.</h1>
    <br>
    <p><b>2:00pm Saturday, October 26 2019</b></p>

  
  </div>
  
  
 <div class="career-steps step_eight">
    <h1>Super. We will save you a spot.</h1>
  
  </div>
  
  
  
</div>
<script>
window.addEventListener("klaviyoForms", function(e) { 

 if (e.detail.type == 'submit') {
     
   
     _learnq.push(['track', 'Casting Call Signup Complete']);  	
 }
});
</script>


<script type="text/javascript">

$(function(){
  
  
  
  function showreferred(){
    
  	
  
  }
  
  
  
    function starttext() {
     var headline = document.getElementById("startText");
 	 var i = 0;
      
 	 var text = [ 
       " In their heart, they quit before they start.", 
       " <br><br>Give us one hour.",
       " Drink our coffee.",
       " Taste our treats.",
       " Hear our story, and decide for yourself.",
       " It could be the right place at the right time.",
       " <br>Get in on:",
       " The.",
       " Ground.",
       " Floor.",
       " <br><br>If you’re serious...",
       " We're serious.",
       "<br>- Storyville"
     ];

    var interval = setInterval(function(){
		
        var txt = document.createElement('span');
        
        txt.innerHTML = text[i];
        i = i < 12 ? i+1 : clearInterval(interval);
        
        headline.appendChild(txt);
        
      }, 3000);
      
      
    
      
  	}
  
  //starttext();
 

 
  

    function stepthree() {
      

    
     var headline = document.getElementById("stepThreeHeadline");
 	 var i = 0;

      
 	 var text = [
       "Casual dress. But do come dressed."
     ];

      setInterval(function(){

        headline.innerHTML = text[i];
        i = i < 0 ? i+1 : 0;
        
      }, 4000);
      
  	}
  
  
    
    
    function steptwo() {
      

     var headline = document.getElementById("stepTwoHeadline");
 	 var i = 0;
      
     function displayForm(){
      
      	$(".gform").addClass("active-form");
      	headline.innerHTML = "";
     }
      
 	 var text = [
       "<h1>Life can be about taking chances.</h1>",
       "<h1>If you consider taking a chance with us...</h1>",
       "<h1>We might just take a chance on you.</h1>", 
       "<h1>We have a story to tell.</h1>", 
       "<h1>Would you like to hear it?</h1>",
       '<h1>Let’s start with your name and email address.</h1>'
     ];

      setInterval(function(){

        headline.innerHTML = text[i];
        i = i < 5 ? i+1 : displayForm();
        
      }, 2600);
      
  	}
  
  
  
  
  function load(){


    function stepone() {
     var headline = document.getElementById("stepOneHeadline");
 	 var i = 0;
      
 	 var text = [ 
       " In their heart, ", 
       "they quit before they start."
     ];

      setInterval(function(){
		
        var txt = document.createElement('span');
        
        txt.innerHTML = text[i];
        i = i < 2 ? i+1 : nothing();
        
        headline.appendChild(txt);
        
      }, 3000);
      
  	}
    
   // stepone();
  
  }
  
  function step01_toggle(){
   
              
 	 $(".career-steps.step_one").toggleClass("active-step");
     $(".career-steps.step_two").toggleClass("active-step");
    

    // steptwo(); 
    
  }
  
  
  function step02_toggle(){
              
 	 $(".career-steps.step_two").toggleClass("active-step");
     $(".career-steps.step_three").toggleClass("active-step");

   //  stepthree(); 
    
  }
  
  
  function step03_toggle(){
    
 	 $(".career-steps.step_three").toggleClass("active-step");
     $(".career-steps.step_four").toggleClass("active-step");

  }
  
  
    
  function step04_toggle(){
    
 	 $(".career-steps.step_four").toggleClass("active-step");
     $(".career-steps.step_five").toggleClass("active-step");

  }
  
  function step05_toggle(){
    
 	 $(".career-steps.step_five").toggleClass("active-step");
     $(".career-steps.step_six").toggleClass("active-step");

  }
  
  
  function step06_toggle(){
    
 	 $(".career-steps.step_six").toggleClass("active-step");
     $(".career-steps.step_seven").toggleClass("active-step");

  }
  
  
    
  function step07_toggle(){
    
 	 $(".career-steps.step_seven").toggleClass("active-step");
     $(".career-steps.step_eight").toggleClass("active-step");

  }
  
  
  
  window.onload = load();
  
  $("#step_one").on( "click", step01_toggle );
  

  $("#step_two").on( "click", step02_toggle);  

  
  
  $("#step_three").on( "click", step03_toggle );
  
  $("#step_four").on( "click", step04_toggle );
  
  $("#step_five").on( "click", step05_toggle );
  
  
  $("#step_seven").on( "click", step07_toggle );
  
  
  
});
</script>
