{{ 'theme.subscription-builder-v3.js' | asset_url | script_tag }}


{% section 'page-subscribe-v2-template' %}


<div data-visible-on-builder-step="0" style="display: none">
  {% section 'page-subscribe-v2-template__footer-blocks' %}
</div>
