<!-- /templates/page.full-width.liquid -->
<header class="section-header text-center">
<style>
  
/*GLOBAL*/
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,600,700');
  
  h3{
  	font-size: 55px;
    letter-spacing: 0.1em;
    text-align: left !important;
    margin: 0 !important;
    line-height: 100%;
    color: #bc2e21 !important;
    font-weight: 900 !important;
    font-family: "Archivo Narrow",sans-serif !important;
  }
  p{
    text-align: left !important;
  	margin: 0 !important;
    letter-spacing: 0.06em;
    line-height: 150%;
    display:inline-block !important;
  }
  .site-nav li a, .supports-fontface .icon-fallback-text .icon, .site-nav__link--burger{color: #fff !important;}
  .burger-icon{background: #fff !important;}
  .site-header{max-width: 1050px; margin: 0 auto;}
  .site-header .grid--table>.grid__item{padding-top: 30px;}
  
  
  .site-header{padding: 0 30px !important;}
  
  .main-content{padding-bottom: 0 !important; padding-top: 40px !important;}
  
  .custom-content{
    position: relative;
    height: 700px;
 	overflow: hidden;
    padding-top: 130px;
  }
  .one-half{width: 50% !important;text-align: left !important;}
  .one-half.leftCol{padding-left: 15%;}
  .one-half.rightCol{padding-right: 15%;}
  hr{float: left;}
  
  .btn{
    font-size: 16px !important;
  	letter-spacing: 0.2em;
    font-weight: 400 !important;
    display:inline-block !important;
    padding: 10px 20px !important;
  }
  
  .priceMain{
    font-size: 55px;
    font-style: italic;
    position: relative;
    margin-left: 30% !important;
    top: 10px;
    opacity: 0.75;
  }
  .priceMain::after{
    content: "$";
    position: absolute;
    left: -20px;
    top: -15px;
    font-size: 30px;
    opacity: 0.5; 
  }
  
  #shopify-section-footer .one-half{    
    width: 100% !important;
    text-align: center !important;
    margin: 0 auto !important;}
  
  .leftCol a, .rightCol a{
    color: #d6a041 !important;
  	border-bottom: 1px solid #d6a041 !important;
  }
/*SECTIONS*/  
  .topItalics{
    font-size: 20px;
    font-weight: 400 !important;
    letter-spacing: 0.3em;
  }
  
  
  .hardwareImage{
  	width: 200px;
    position: absolute;
    margin: 0 auto;
    left:0;top:170px;bottom:0;right:0;
  }
  
/*PER PRODUCT*/
  .heroImage .custom-content{ background: #000; height: 800px !important;}
  
  .waterKettleContent .custom-content{
    background: #fff;
/*    border-bottom: 20px solid #bc2e21;*/
  }
  
  .epilogueContent .custom-content{
    background: #130c08;
  }

  
  .productImage.waterKettle{
    position: absolute;
    right: 5%;
    width: 600px;
    bottom: -130px;
  }
  
 .productImage.epilogue{
    position: absolute;
    left: 5%;
    width: 600px;
   bottom: -130px;
  }
  

  .heroImage .custom-content{
    margin-top: -220px;
  	padding-top: 0;
    background-image: url(https://cdn.shopify.com/s/files/1/0090/2135/8137/files/home_beans.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .site-header .grid--table>.grid__item{padding-top: 25px !important;}
  
  

  p.dark, h3.dark{ color: #fff !important;}
  
  .epilogueContent .one-half:nth-child(3), .essentialsContent .one-half:nth-child(2){float: right;}
  
  .full-width{ 
    display: none !important;
  	width: 100%;
    text-align: center;
  }
  
  .product-single__form--no-variants{
    margin-top: 0 !important;
  	display: inline-block;
  }
  .featuredProductGone{display: none !important;}
 
  .coffeeGetStarted{
  position: absolute !important;
    height: auto;
    left:0;right:0;top:0;bottom:0;
    margin:auto;
    color: #fff !important;
	width: 60%;
    text-align: center !important;
    margin-top: 300px;
    font-size: 22px;
  }
    
  .coffeeGetStarted h2{
  color: #fff !important;
    text-align: center !important;
    margin-bottom: 0;
  }
  
  .coffeeGetStarted h2::after{display:none;}
  
  .priceMobile{display:none !important; margin-bottom: 15px !important;}

  
  .prologueImg{
  content: url("https://cdn.shopify.com/s/files/1/0090/2135/8137/files/coffee_bag-{{'now' | date: '%b' }}.png");
  }
  
  .epilogueImg{
  content: url("https://cdn.shopify.com/s/files/1/0090/2135/8137/files/coffeeEpilogue_bag-{{'now' | date: '%b' }}.png");
  }
  

  
@media all and (max-width: 1118px) {

  .priceMain{display:none !important;}
  .priceMobile{display:block !important;}
  p{font-size: 14px;}
  .priceMain{margin-left: 10px !important;}
  .productImage.waterKettle{right: -7%}
  .productImage.epilogue{left: 5%;}
    .heroImage .custom-content{background-attachment:scroll;}
    .coffeeGetStarted{
     margin-top: 220px;
     width:90%;
    }

    .full-width{ display: block !important;}
    .one-half{width: 90% !important; padding-left:0 !important; margin: 0 auto !important;}

    .custom-content{ height: 100% !important;}
    .productImage{display:none !important;}
    
    .epilogueContent .one-half:nth-child(3), .essentialsContent .one-half:nth-child(2){float: none !important;}
    

    
    .heroImage .custom-content{    background-position: center 0px !important;height: 600px !important; background-size: cover;}
  

    

  }
  
  
  
</style>
  
  <script type="text/javascript">
  jQuery.post('/cart/add.js',$('form[action="/cart/add"]').serialize());
  </script>  
 

</header>

	

	<div class="rte heroImage">
	{% section 'advanced-content-11' %}
	</div>

    <div class="rte waterKettleContent">
      {% section 'advanced-content-12'%}
    </div>

    <div class="rte epilogueContent">
      {% section 'advanced-content-13'%}
    </div>

	<div class="rte featuredProductGone">
      {% section 'featured-product-9'%}
    </div>

	<div class="rte featuredProductGone">
      {% section 'featured-product-10'%}
    </div>