<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">
<!-- /templates/page.full-width.liquid -->
<header class="section-header text-center">
<style>
  
/*GLOBAL*/
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,600,700');
  
  body{
  background: #141515 !important;
  }
  h3{
  	font-size: 55px;
    letter-spacing: 0.1em;
    text-align: left !important;
    margin: 0 !important;
    line-height: 100%;
    color: #bc2e21 !important;
    font-weight: 900 !important;
    font-family: "Archivo Narrow",sans-serif !important;
  }
  p{
    text-align: left !important;
  	margin: 0 !important;
    letter-spacing: 0.06em;
    line-height: 150%;
    display:inline-block !important;
  }
  .site-nav li a, .supports-fontface .icon-fallback-text .icon, .site-nav__link--burger{color: #fff !important;}
  .burger-icon{background: #fff !important;}
  .site-header{max-width: 1050px; margin: 0 auto;}
  
  .site-header{padding:0 30px !important;}

  .site-header .grid--table>.grid__item{padding-top: 25px !important;}
  
  .main-content{padding-bottom: 0 !important; padding-top: 40px !important;}
  
  .custom-content{
    position: relative;
    padding-top: 90px;
 	overflow: hidden;
  }
  .one-half{width: 50% !important;text-align: left !important;}
  .one-half.leftCol{padding-left: 15%;}
  .one-half.rightCol{padding-right: 15%;}
  hr{float: left;}
  
  
  #shopify-section-footer .one-half{    
    width: 100% !important;
    text-align: center !important;
    margin: 0 auto !important;}

/*SECTIONS*/  
  .topItalics{
    font-size: 20px;
    font-weight: 400 !important;
    letter-spacing: 0.3em;
  }
  
  
/*PER PRODUCT*/
  
  
  .full-width{ 
    display: none !important;
  	width: 100%;
    text-align: center;
  }
  
  
  .product-single__form--no-variants{
    margin-top: 0 !important;
  	display: inline-block;
  }
  
   .heroImage{
      width: 100%;
      height: 770px;
      background: url(https://cdn.shopify.com/s/files/1/0090/2135/8137/files/roasting.JPG);
      background-size: cover;
     background-attachment: fixed;
     background-position: bottom center;
     margin-top: -210px;
    }
  
  .locationContainer{
    background: #fff;
    width: 100% !important;
    padding: 70px 0;
    margin-top: -60px;
    margin-bottom: -12px;
  }
  
    .locationContainer.greyBackground{
    background: #f7f6f6;
    }
  
  .storeLocations{
    width: 100% !important;
    padding: 0 5%;
    background: #fff;
    margin: 0 auto;
  }
  
  
  .instoreMenu{
  width: 70%;
    margin:0 auto;
  }
  .menuCol{
  display:inline-block;
    width: 40%;
    margin-left:-4px;
    float:left;
  }
  .menuCol:nth-child(2){
    width: 40%;
    margin-left: 15%;
  }
  
  .instoreMenu h3{
    color:#222323 !important;
    font-size: 50px;
    letter-spacing: 0.01em !important;
    margin-top: 35px !important;
  }
  
  .instoreMenu h2{
    margin:0;
    margin-top: 20px;
    font-size: 22px;
  
  }

  .instoreMenu h2::after{display:none;}
  
  .large--five-sixths{width: 100% !important;}
  .push--large--one-twelfth{left:0 !important;}
  
  
  .locationAddress{
    position: relative;
    margin-left:40px !important;
  }
  .locationPin{
  position:absolute;
    left:-40px;
  }
  
  .rte a{position: relative;}
  
  .video-wrapper{margin-bottom: 75px !important;}
  
  .custom__item-inner:nth-child(1){padding-left: 5%;}
  
  @media all and (max-width: 1200px) {
    p{font-size: 14px !important;}

  }
  
  @media all and (max-width: 1118px) {
    
    .custom__item-inner:nth-child(1){padding-left: 0;}
    
    .instoreMenu{width: 90%;}
    
    .menuCol, .menuCol:nth-child(2){
      width: 100%;
      margin:0 !important;
    }
    
    .site-header .grid--table{  width: 90%; margin: 0 auto;}
    .full-width{ display: block !important;}
    .one-half{width: 90% !important; margin: 0 auto !important;}

    .custom-content{ height: 100% !important;}

    .heroImage{background-attachment:scroll;}
    .locationContainer{
     padding: 70px 5% !important; 
    }
  }
  
  @media all and (max-width:568px){
    .heroImage{height: 400px;}
    
  }
  
  
  
</style>
 

</header>

    <div class="heroImage"></div>
    
<!-- /templates/page.liquid -->

    <div class="rte storeLocations">
      {% section 'advanced-content-16'%}
    </div>
   
    
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>
